.env
.env.*
node_modules/
vendor/
.git/
storage/*.key
storage/logs/*
!storage/logs/.gitkeep
public/storage
public/hot
database_backup.sqlite
database/database.sqlite
tests/
phpunit.xml
.editorconfig
.vscode/
Dockerfile
render.yaml
